@import url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: 'Roboto';
    
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 30px 15px;
    flex-grow: 0;
    box-shadow: 0px 15px 10px -15px #111;  
    margin-bottom: 7px;
}

fieldset {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    border: 0;
}

.formItem {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: rgb(69, 66, 66);
}

#formTitle {
    margin: 0;
    margin-bottom: 25px;
}

input {
    width: 60%;
    border-radius: 4px;
    border: 1px solid rgb(69, 66, 66);;
    height: 2.5vh;
}

aside {
    background-image: url('background.avif');
    background-size: auto 100vh;
    height: 100vh;
    width: 60vh;
}

#submitButton {
    width: 250px;
    height: 60px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    margin: 20px 0px 0px 20px;
    font-size: 1.2em;
    border: none;
}

#submitButton:hover {
    background-color: darkgreen;
}

#banner {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.65;
    width: 100%;
    padding-top: 10px;
    margin-top: 20vh;
}

#banner img{
    width: 15%;
}

#banner h1 {
    font-size: 8vh;
    margin: 0;
    font-family: 'Norse';
}

footer,
header {
    background-color: #f5f8fa;
}

footer {
    flex-grow: 1;
}

#intro {
    padding: 5vh 3vh 1vh 2vh;
    margin: 0;
    margin-bottom: 20px;
}

p {
    color: rgb(69, 66, 66);
    margin: 50px auto auto 20px;
    font-weight: 100;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}