@import url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

fieldset {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    border: 0;
}

.formItem {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
    border-radius: 4px;
    border: 1px solid black;
}

aside {
    background-image: url('background.avif');
    background-size: auto 100vh;
    height: 100vh;
    width: 60vh;
    display: flex;
    align-items: center;
}

#submitButton {
    width: 250px;
    height: 60px;
    background-color: green;
    color: white;
    border-radius: 25px;
    font-weight: 600;
}

#submitButton:hover {
    background-color: darkgreen;
}

#banner {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.65;
    width: 100%;
    padding-top: 10px;
}

#banner img{
    width: 15%;
}

#banner h1 {
    font-size: 8vh;
    margin: 0;
    font-family: 'Norse';
}

footer,
header {
    background-color: antiquewhite;
    flex-grow: 1;
}